<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console"
                 target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
        </Async>
        <RandomAccessFile name="RandomAccessFile" fileName="async.log" immediateFlush="false" append="false">
            <PatternLayout>
                <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="warn">
            <!--<AppenderRef ref="AsyncConsole"/>-->
            <AppenderRef ref="RandomAccessFile"/>
        </AsyncRoot>
    </Loggers>
</Configuration>