NEXT_PUBLIC_API_BASE=http://localhost:3000
AERON_CACHE_API=http://localhost:7070/api/v1
AERON_CACHE_WS_API=ws:localhost:7071
JAEGER=http://localhost:16686
PROMETHEUS=http://localhost:9090
AERON_CACHE_SSE_API=http://localhost:7072